.land-bg{
    width: 100%;
    height: 100vh;
    position: relative;
}
.land-bg::before{
    content: '';
    background: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.land-bg-content{
    position: absolute;
    bottom: 15%;
    left:  5%;
    color: #ffffff;
    z-index: 1;
    animation: fadeInUp 1s ease-in-out;
}
.land-bg-content h2{
    font-size: 70px;
    text-shadow: 1px 2px 7px rgba(0,0,0,0.3);
    font-weight: 700;
}
.land-bg-content h3{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 2;
    width: 90%;
    max-width: 900px;
    text-align: justify;
    font-weight: 500;
    text-shadow: 1px 2px 7px rgba(0,0,0,0.3);
}
.vegas-animation-kenburns {
    animation: kenburns ease-out;
}

@keyframes kenburns {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* 共通樣式
============================================= */
.venue, .situation-wrap, .technology{
    padding: 80px 0;
}
.section-ttl{
    text-align: center;
    color: #1b2684;
    font-weight: 700;
}
.section-ttl::after{
    content: '';
    width: 50px;
    height: 5px;
    background: #1b2684;
    display: block;
    margin: 20px auto;
}
.section-ttl-w{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}
.section-ttl-w::after{
    content: '';
    width: 50px;
    height: 5px;
    background: #ffffff;
    display: block;
    margin: 20px auto;
}
/* 場館介紹
============================================= */
.venue{
    position: relative;
}
.venue::before{
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/mainvisual-img-02.png) no-repeat right top, url(../img/venue_bg.svg) repeat-x left top;
    background-size: contain, 30px 280px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.pic-cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}
.pic-cover p{
    margin-bottom: 0;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
}
.venue img{
    transition: .5s;
}
.venue .img-3-2 a.active .pic-cover{
    opacity: 1;
}
/* 情境應用
============================================= */
.situation{
    padding: 80px 0 0 0;
}
.situation-wrap{
    position: relative;
    background-image: url(../img/shutterstock_247962964.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.situation-wrap.active{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    transition: 0.5s;
}
.situation-wrap.active::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.situation-wrap .img-box{
    height: 0;
}
.text-wrap{
    text-align: justify;
}
.text-wrap h3{
   margin: 15px 0;
   color: #1b2684;
   background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.text-wrap h4{
    font-weight: 600;
    font-size: 18px;
    margin-top: 25px;
}
.text-wrap p{
    font-weight: 400;
}
.situation-content{
    display: flex;
    flex-wrap: wrap;
}

/* 尖端技術
============================================= */

.technology .img-box{
    width: 100%;
    height: 350px;
}
.technology .row{
    align-items: center;
    padding: 80px 0;
}